---
type Props = {
	data: {
		title: string;
		duration: number;
		director: string;
		production: string;
		release: string;
		role: string;
	};
};

const { data } = Astro.props;

import { fade } from 'astro:transitions';
---

<div
	transition:animate={fade({ duration: '0.4s' })}
	class="grid filmcard md:grid-cols-6 gap-x-4 grid-cols-2"
>
	<h3 class="text-xl/tight md:col-span-2">{data.title}</h3>
	<p class="text-xs md:order-3">{data.duration} mins</p>
	<p class="text-xs md:order-5 md:col-span-2">{data.director}</p>
	<p class="text-xs md:col-span-2">{data.role}</p>
	<p class="text-xs md:order-4 md:text-right">{data.release}</p>
	<p class="text-xs md:col-span-2 md:order-last">{data.production}</p>
</div>

<style>
	p {
		color: var(--text);
	}

	.filmcard {
		padding: var(--space-xs);
		border-top: 2px var(--text) solid;
	}
</style>
