---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import Carousel from '../components/Carousel.astro';

interface Props {
	slug: string;
}

const { slug } = Astro.props;

const entry = await getEntry('projects', slug);
const { Content } = await entry.render();

const { imgs: images, img_alts: imageAlts, role, type, title } = entry.data;
---

<div class="project border">
	<div class="flex justify-between text-xs">
		<h3 class="text-xs">{entry.data.role}</h3>
		<p class="text-xs">{entry.data.release}</p>
	</div>
	<div class="my-4 flex flex-col justify-center items-center">
		<div class="media w-32">
			<Carousel slug={slug}>
				{
					images.map((image: string, index: number) => (
						<div class="swiper-slide">
							<Image
								src={image}
								alt={imageAlts[index]}
								width="1600"
								height="900"
								decoding="async"
								loading="lazy"
							/>
						</div>
					))
				}
			</Carousel>
		</div>
		<h2 class="text-center">{entry.data.title}</h2>
	</div>

	<div class="flex justify-between text-xs">
		<ul class="flex gap-2">
			<li>{entry.data.duration} mins</li>
			<li>{entry.data.director}</li>
		</ul>

		<p class="">{entry.data.production}</p>
	</div>

	<div class="content">
		<div class="info"><Content /></div>
	</div>
</div>

<style>
	* {
		/* border: 1px solid red; */
	}
	section {
		position: relative;
	}

	img {
		width: 100%;
		height: auto;
	}

	.content {
		background: #ccc;
	}
</style>
