---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import Carousel from '../components/Carousel.astro';

interface Props {
	slug: string;
}

const { slug } = Astro.props;

const entry = await getEntry('projects', slug);
const { Content } = await entry.render();

const { imgs: images, img_alts: imageAlts, role, type, title } = entry.data;
---

<div class="flex flex-col project__item">
	<div class="flex flex-col w-full h-full cursor-pointer preview">
		<div class="flex justify-between meta">
			<p class="">{entry.data.role}</p>
			<p class="">{entry.data.release}</p>
		</div>

		<!-- middle -->
		<div class="relative flex items-center justify-center my-4 grow">
			<div class="flex flex-col gap-2 w-48 poster">
				<Carousel slug={slug}>
					{
						images.map((image: string, index: number) => (
							<div class="swiper-slide">
								<Image
									src={image}
									alt={imageAlts[index]}
									width="1600"
									height="900"
									decoding="async"
									loading="lazy"
								/>
							</div>
						))
					}
				</Carousel>
				<h2 class="text-center">{entry.data.title}</h2>
			</div>
			<div class="marquee">
				<div class="track">
					<div class="content noselect py-vw-1-min@md">
						{entry.data.title}
						{entry.data.title}
						{entry.data.title}
						{entry.data.title}
					</div>
				</div>
			</div>
		</div>

		<!-- meta bottom -->
		<div class="flex justify-between text-xs meta">
			<div class="flex gap-2">
				<p class="">{entry.data.duration} mins</p>
				<p class="">{entry.data.director}</p>
			</div>
			<p class="">{entry.data.production}</p>
		</div>
	</div>

	<div class="flex-col more">
		<div class="flex info">
			<Content />
		</div>
		<div class="flex gap-2 links">
			<a href="#" class="grow close">close</a>
			<a href="#" class="grow">trailer</a>
		</div>
	</div>
</div>
<style>
	* {
		/* border: 1px solid red; */
	}

	.project__item {
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		min-height: 100vh;
		position: relative;
		background: var(--bg);
		color: var(--text);
		overflow: hidden;
		scroll-snap-align: start;
	}

	.project__item:hover {
		background: var(--clr-brand);
		--text: black;
	}

	.project__item:hover .marquee {
		visibility: visible;
		opacity: 1;
		transform: scale(1.2) rotate(-8deg) translateY(-5%);
	}

	.project__item:nth-last-child(1):nth-child(odd) {
		grid-column: 1/-1;
		/* z-index: 15; */
	}

	h2 {
		font-family: var(--font-mono);
		font-optical-sizing: auto;
		letter-spacing: -0.0325rem;
	}

	.meta {
		color: var(--text);
		font-family: var(--font-mono);

		font-optical-sizing: auto;
		font-smooth: auto;
		font-size: var(--text-xs);
		line-height: 100%;
		font-weight: 400;
		letter-spacing: -0.025rem;
		padding: var(--space-xs);
	}

	.poster {
		z-index: 15;
		position: relative;
	}
	/* debug stuff */
	/* * * * {
		outline: 1px solid rgba(45, 255, 25, 0.766);
	} */
	.marquee {
		color: white;
		font-family: var(--font-brand);
		font-size: clamp(12rem, 11.3455rem + 2.9091vw, 16rem);
		height: clamp(12rem, 11.3455rem + 2.9091vw, 16rem);
		line-height: 120%;
		position: absolute;
		transform: translateY(-50%);
		transform: scale(0.9);
		transform: rotate(-6deg);
		opacity: 0;
		transition: all 0.3s ease-in-out 0.125s;
		visibility: hidden;
		max-width: 100%;
		width: 100%;
		z-index: 1;
	}

	.track {
		position: absolute;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 32s linear infinite;
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50%);
		}
	}

	.more {
		overflow: visible;
		transition: var(--transition);
		transform: translateY(0);
		opacity: 1;
	}

	.hidecontent {
		display: none;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	.info {
		display: grid;
		grid-auto-flow: column;
		gap: 1rem;
		font-size: 0.675rem;
		line-height: 112.5%;
		padding: var(--space-xs);
		border-top: var(--gapborder) solid var(--text);
		border-bottom: var(--gapborder) solid var(--text);
	}
	.info p {
		font-size: 0.875rem;
		line-height: 120%;
		font-weight: 500;
	}

	.info p:nth-child(1) {
		font-weight: 700 !important;
	}

	.links {
		font-size: 0.675rem;
		line-height: 112.5%;
		padding: var(--space-xs);
	}

	.close {
		padding-left: var(--gapborder);
	}

	@media only screen and (max-width: 600px) {
		.grid__item {
			min-height: 100vh;
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		document.querySelectorAll('.more').forEach(function (more) {
			more.classList.add('hidecontent'); // Voeg de hidecontent class toe aan elk more element
		});

		var previews = document.querySelectorAll('.preview');
		previews.forEach(function (preview) {
			preview.addEventListener('click', function () {
				var more = preview.nextElementSibling;

				// Sluit alle andere more elementen
				document.querySelectorAll('.more').forEach(function (el) {
					if (el !== more) {
						el.classList.add('hidecontent');
					}
				});

				// Toggle de huidige
				more.classList.toggle('hidecontent');

				// Voer een smooth scroll uit naar de bovenkant van het geklikte preview element
				preview.scrollIntoView({ behavior: 'smooth', block: 'start' });
			});
		});

		// Voeg event listeners toe aan alle 'close' knoppen
		document.querySelectorAll('.close').forEach(function (close) {
			close.addEventListener('click', function (event) {
				event.preventDefault();
				var more = close.closest('.more');
				more.classList.add('hidecontent');

				// Optioneel: scroll naar de bovenkant van het preview element na het sluiten
				var preview = more.previousElementSibling;
				if (preview) {
					preview.scrollIntoView({ behavior: 'smooth', block: 'start' });
				}
			});
		});
	});
</script>
